coverage
flake8==7.0.0
gibberish-detector>=0.1.1
monotonic
mypy
pre-commit
pyahocorasick
pytest
pyyaml
responses
tox-pip-extensions
tox
unidiff
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
